:root{
    --principal: #16c1c8;
    --terceario: #1f5f61;
    --secundario:#abdb25;
    --blanco: #fff;
    --negro: #000;
    --backgroundPrincipal: #040402;

    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;
}


/** GENERALES  */
html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *:before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: var(--fuentePrincipal);
    background: var(--backgroundPrincipal);
    color: var(--blanco);
}

h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
    font-family: var(--fuenteSecundaria);
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}

[class$="__contenedor"]{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

[class$="__heading"]{
    text-align: center;
    margin-bottom: 5rem;
}

/*? Utilidades  */
.resaltar{
    background: var(--secundario);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.resaltar-bg{
    background: var(--principal);
    
}

.texto-centro{
    text-align: center;
}

/** HEADER  */
.header{
    background: var(--principal);
}

@media (min-width: 768px) {
    .header{
        position: fixed;
        width: 100%;
        z-index: 2;
    }
}

.header__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media (min-width: 768px) {
    .header__flex{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}


.header__navegacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.7rem;
    
}

@media (min-width: 768px) {
    .header__navegacion{
        background: var(--principal);
        flex-direction: row;
        justify-content: space-between;
    }
}

.header__link{
    color: var(--blanco);
    font-size: 2rem;
    margin-bottom: 1rem;
    transition-property: all;
    transition-duration: .4s;
}

.header__link::before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    color: red;
    top: 2rem;
    transition: all .4s;
}

.header__link:hover::before{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--negro);
    top: 2.8rem;
    left: 0;
}

.header__link:hover{
    color: #000;
    transform: scale(1.2);
}

@media (min-width: 768px) {
    .header__link{
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    .header__link{
        font-size: 2rem;
    }
}

.header__imagen{
    width: 40%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .header__imagen{
        padding-bottom: 1rem;
        margin-top: 1rem;
    }
}

/*? Inicio  */
.inicio{
    position: relative;
}

@media (min-width: 768px) {
    .inicio{
        height: 100rem;
    }
}

@media (min-width: 990px) {
    .inicio{
        height: 100vh;
    }
}

.inicio__contenedor::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../img/Inicio2.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    filter: brightness(.3);
    background-attachment: fixed;
}

@media (min-width: 768px) {
    .inicio__contenedor::before{
    height: 100%;
    content: "";
    background-size: 100% 100%;
}

}

@media (min-width: 990px) {
    .inicio__contenedor::before{
    height: 100%;
    content: "";
    background-size: 100% 100%;
}

}

.inicio__grid{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

@media (min-width: 768px) {
    .inicio__grid{
        grid-template-columns:  1fr;
        column-gap: 0rem;
    }
}

@media (min-width: 992px) {
    .inicio__grid{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0rem;
    }
}

.inicio__imagen{
    border-radius: 50%;
    margin: 5rem auto 0 auto;
    width: 50%;
}

@media (min-width: 768px) {
    .inicio__imagen{
        width: 25rem;
        margin-top: 10rem;
    }
}

@media (min-width: 990px) {
    .inicio__imagen{
        width: 50rem;
        margin-top: 20rem;
    }
}


.inicio__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio__subtitulo{
    color: var(--blanco);
    font-size: 3.5rem;
    filter: brightness(1);
}

@media (min-width: 768px) {
    .inicio__subtitulo{
        font-size: 5rem;
    }

    .inicio__subtitulo:first-child{
        padding-top: 0rem;
    }
}

@media (min-width: 990px) {
    .inicio__subtitulo{
        font-size: 5rem;
    }

    .inicio__subtitulo:first-child{
        padding-top: 15rem;
    }
}

.inicio__titulo{
    color: var(--blanco);
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .inicio__titulo{
        font-size: 4.4rem;
    }
}

.inicio__descripcion{
    color: var(--blanco);
    font-size: 1.6rem;
    padding: 2rem;
}

@media (min-width: 768px) {
    .inicio__descripcion{
        font-size: 2.5rem;
        padding: 2rem 3.5rem;
    }
}

/*? Sobre mi  */
.acerca{
    position: relative;
}

.acerca__titulo{
    color: var(--principal);
    margin-bottom: 5rem;
}

.acerca__titulo::before{
    content: "";
    position: absolute;
    width: 21rem;
    height: .5rem;
    background: var(--secundario);
    top: 7rem;
    left: 9rem;
}

@media (min-width: 768px) {
    .acerca__titulo::before{
        left: 26.5rem;
        width: 23.5rem;
    }
}

@media (min-width: 992px) {
    .acerca__titulo::before{
        left: 49.5rem;
        width: 27rem;
    }
}


@media (min-width: 1440px) {
    .acerca__titulo::before{
        left: 59.5rem;
        width: 24rem;
        
    }
}

@media (min-width: 1680px) {
    .acerca__titulo::before{
        left: 83.5rem;
        width: 25rem;
    }
}

.acerca__grid{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

@media (min-width: 768px) {
    .acerca__grid{
        grid-template-columns: 1fr;
        column-gap: 5rem;
        align-items: start;
    }
}

@media (min-width: 990px) {
    .acerca__grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

.acerca__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (min-width: 769px) {
    .acerca__info{
        align-items: center;
    }
}

.acerca__subtitulo{
    color: var(--secundario);
    font-size: 3rem;
    padding: 0 3rem;
}

@media (min-width: 990px) {
    .acerca__subtitulo{
        font-size: 3.5rem;
    }
}

.acerca__resaltar{
    font-size: 2.3rem;
    padding-left: 3rem;
    
}

@media (min-width: 768px) {
    .acerca__resaltar{
        font-size: 3rem;
    }
}

.acerca__descripcion{
    font-size: 1.8rem;
    padding: 0 3rem;
    margin-bottom: 5rem;
}

@media (min-width: 768px) {
    .acerca__descripcion{
        font-size: 2rem;
    }
}

.acerca__flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .acerca__flex{
        flex-direction: row;
        gap: 0rem;
    }
}

.acerca__btn{
    width: 19rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundario);
    margin: 2rem auto;
    text-align: center;
    transition-property: transform, background-color;
    transition-duration: .3s;
    font-size: 2rem;
    color: var(--negro);
    position: relative;
    border-radius: 5px;
}

.acerca__btn:hover{
    background-color: #648214;
    transform: scale(1.2);
    color: var(--blanco);
}

.acerca__icono{
    margin-right: 1rem;
    font-size: 3rem;
}

/*? Habilidades  */
.habilidades{
    position: relative;
    margin-bottom: 10rem;
}

.habilidad__titulo{
    color: var(--secundario);
    margin-bottom: 5rem;
}

@media (min-width: 768px) {
    .habilidad__titulo{
        font-size: 3.5rem;
    }
}

.habilidades__grid{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
}

@media (min-width: 768px) {
    .habilidades__grid{
        grid-template-columns:  repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (min-width: 990px) {
    .habilidades__grid{
        grid-template-columns:  repeat(3, 1fr);
        gap: 3rem;
    }
}

.habilidades__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191919;
    transition-property: background-color scale;
    transition-duration: .5s;
}

.habilidades__card:hover{
    background-color: #2a2a2a;
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .habilidades__card > .habilidades__titulo{
        opacity: 0;
        transition: opacity .5s;
        color: var(--secundario);
    }

    .habilidades__card:hover > .habilidades__titulo{
        opacity: 1;
    }
    
}

.habilidades__img{
    width: 50%;
    height: 50%;
    margin: 2rem 0;
}

@media (min-width: 768px) {
    .habilidades__img{
        margin: 1rem 0;
    }
}

.habilidades__titulo{
    font-size: 5rem;
    margin-top: 1rem;
    color: var(--secundario);
}

@media (min-width: 768px) {
    .habilidades__titulo{
        font-size: 3rem;
        margin-top: 2rem;
    }
}

/*? SERVICIOS  */
.servicios{
    margin-top: 10rem;
    background-color: #191919;
    position: relative;
    overflow: hidden;
}

.servicios::before,
.servicios::after{
    content: "";
    background-color: var(--backgroundPrincipal);
    width: 110%;
    height: 20rem;
    position: absolute;
}

.servicios::before{
    top: -9rem;
    left: 0;
    transform: rotate(10deg);
}

.servicios::after{
    bottom: -9rem;
    left: 0;
    transform: rotate(-10deg);
}

@media (min-width: 768px) {
    .servicios::after{
        bottom: -10rem;
        left: 0;
        transform: rotate(-3deg);
    }

    .servicios::before{
        top: -10rem;
        left: 0;
        transform: rotate(3deg);
    }
}

.servicios__contenedor{
    margin: 15rem 0;
}

.servicios__titulo{
    text-align: center;
    font-size: 5rem;
    margin: 2rem 0;
    width: 100vw;
}


.servicios__titulo::before{
    content: "";
    width: 20.8rem;
    height: .5rem;
    background-color: var(--secundario);
    position: absolute;
    top: 21rem;
}

.servicios__grid{
    display: grid;
    grid-template-columns: 30rem;
    gap: 5rem;
    justify-content: end;
}

@media (min-width: 768px) {
    .servicios__grid{
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 30rem);
        column-gap: 3rem;
    }
}

@media (min-width: 990px) {
    .servicios__grid{
        grid-template-rows: unset;
        grid-template-columns: repeat(3, 30rem);
        column-gap: 5rem;
    }
}

@media (min-width: 1820px) {
    .servicios__grid{
        width: 100vw;
        grid-template-rows: unset;
        grid-template-columns: repeat(3, 30rem);
        gap: 3rem;
        justify-content: center;
    }
}

.servicios__card{
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: transform, border-bottom, color;
    transition-duration: .3s;
    outline: none;
    margin: 2rem 0;
}

.servicios__card:hover{
    transform: scale(1.1);
    border-bottom: 1rem solid var(--secundario);
    outline: none;
    }

    .servicios__card:hover > .servicios__icono {
        color: var(--secundario);
    }


.servicios__icono{
    margin: 2rem 0 0 0;
    font-size: 4rem;
}

.servicios__titular{
    font-size: 2.5rem;
}

.servicios__descripcion{
    font-size: 1.7rem;
    padding: 0 2rem;
}